<mat-form-field appearance="fill" class="console-chooser">
  <mat-label>Console name</mat-label>
  <mat-chip-list #chipList aria-label="Console selection">
    <mat-chip
      *ngIf="consoleName !== ''"
      [selectable]="true"
      [removable]="true"
      (removed)="remove()">
      {{consoleName}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Console name..."
      #consoleNameInput
      [formControl]="consolesNamesControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let consoleName of filteredConsolesNames | async" [value]="consoleName">
      {{consoleName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
