.game-search {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  &_input {
    width: 85vw;
  }
}

.game-filter {
  display: flex;
  flex-direction: column;
  padding: 10px;

  &_label {
    width: 300px;
  }

  select {
    margin: 10px;
  }
}

.game-search-container {
  position: fixed;
  top: 55px;
  z-index: 1000;
  background-color: white;
  width: 100%;
}
