<div class="chart-container">
  <statistic-chart
    *ngIf="chartData.length > 0"
    [results]="chartData"
    [consoleGamesAmountLimit]="consoleGamesAmountLimit"
    [chartHeight]="chartHeight"
    [chartWidth]="chartWidth"
  ></statistic-chart>
  <statistic-filter
    (changeLimit)="onChangeGamesAmountLimit($event)"
    [consoleGamesAmountLimit]="consoleGamesAmountLimit"
    [consoles]="consolesShowingStatus"
    (checkedConsole)="onChangeShowingConsoleStatus($event)"
  >
  </statistic-filter>
</div>
