<svg:g
  ngx-charts-bar
  xmlns:svg="http://www.w3.org/2000/svg"
  *ngFor="let bar of bars"
  [width]="bar.width"
  [height]="bar.height"
  [x]="bar.x"
  [y]="bar.y"
  [fill]="bar.color"
  [data]="bar.data"
  [orientation]="barOrientation"
  [roundEdges]="bar.isRoundEdges"
  [animations]="animations"
  [noBarWhenZero]="noBarWhenZero"
  (select)="onClick()"
  ngx-tooltip
  [tooltipDisabled]="false"
  [tooltipPlacement]="placementTypes"
  [tooltipType]="styleTypes"
  [tooltipTitle]="bar.tooltipText"
></svg:g>
<svg:g
  xmlns:svg="http://www.w3.org/2000/svg"
  ngx-charts-bar-label
  *ngFor="let bar of bars"
  [value]="bar.value !== 0 ? bar.value : ''"
  [orientation]="barOrientation"
  [barX]="bar.x"
  [barY]="bar.y"
  [barHeight]="bar.height"
  [barWidth]="bar.width"
>
</svg:g>
