<mat-toolbar class="app-title">

  <div class="title">
    <button mat-icon-button (click)="navigationMenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{screenLabel}}</span>
  </div>

  <button mat-icon-button *ngIf="isGameScreen" (click)="onClickAdd()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #navigationMenu class="navigation-sidebar">
    <navigation-menu></navigation-menu>
  </mat-sidenav>

  <mat-sidenav-content class="navigation-content" [ngClass]="{'navigation-content-games':isGameScreen}">
    <div
      class="screen-container"
      [ngStyle]="{
          'height': initializationDataService.windowHeight + 'px',
          'width': initializationDataService.windowWidth + 'px'
       }"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<error>
</error>
<spinner>
</spinner>
