<mat-tab-group mat-align-tabs="center" [color]="'primary'" [backgroundColor]="'primary'">
  <mat-tab label="{{gamesListLabel}}"><GamesComponent></GamesComponent></mat-tab>
  <mat-tab label="Google Drive Backups"><router-outlet></router-outlet></mat-tab>
  <mat-tab label="Local File Backups"><LocalBackupsComponent></LocalBackupsComponent></mat-tab>
  <mat-tab label="Chart"><ChartComponent></ChartComponent></mat-tab>
</mat-tab-group>

<ErrorComponent></ErrorComponent>
<ConfirmComponent></ConfirmComponent>
