.game-search {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  &_input {
    width: 85vw;
  }
}

.game-filter {
  display: flex;
  padding: 10px;
  justify-content: space-between;

  &_label {
    width: 300px;
  }
}
