.game-editor .mat-expansion-panel-header .mat-content {
  flex-direction: column !important;
}

.game-editor .mat-expansion-panel-header {
  height: 100%;
}

.game-editor .mat-expansion-panel {
  width: 90vw;
}

.together-icon {
  margin: auto;
  padding-right: 10px;
}
