<mat-list-item class="game-list-item">
  <img [src]="imageUrl" alt=""/>
  <together-icon mat-list-icon [isTogether]="game.isTogether"></together-icon>
  <div mat-line>
    {{game.name}}
  </div>
  <div mat-line>{{game.console}}</div>
  <div mat-line>
    <game-date-info [game]="game"></game-date-info>
  </div>
  <div mat-line>
    <status-component [status]="game.status"></status-component>
  </div>
  <button mat-icon-button (click)="onEditGame(game.id)">
    <mat-icon>edit</mat-icon>
  </button>
  <mat-divider></mat-divider>
</mat-list-item>
